{% extends 'base.html' %}

{% block header %}
<div class = "header-item text">Staff Account</div>
{%endblock%}

{% block main %}
<section class = "main-item">
  <h1> What account change do you want to make? </h1>
  <form id='accountChange' onsubmit="return validateAccountChanges()">
    <b>Select the action:</b><br>
    <select value="action" onchange="actionSelected(this)" name="accountAction">
      <option value="changePassword">Change Password</option>
      <option value="changeEmail">Change Email</option>
    </select>
    <br>
    <span id="accountChangeForm">
      <b>New password</b>
      <input type='password' id="newpassword" placeholder='Enter your new password here' name='newpassword' onkeyup="checkBoxesMatch('newpassword', 'submitAccountChanges')" required>
      <b>Confirm new password:</b>
      <input type='password' id="checknewpassword" placeholder='Re-Enter your new password here' name='checknewpassword' onkeyup="checkBoxesMatch('newpassword', 'submitAccountChanges')" required>
    </span>
    <br>
    <br>
    <b>Confirm your current password:</b>
    <input type="password" placeholder="Enter your password here" name="password" required>
    <br>
    <button id="submitAccountChanges" type = "submit" disabled>Submit</button>
  </form>
  <span id='msg'></span>
</section>
{% endblock %}
