{% extends 'base.html' %}

{% block header %}
<div class = "header-item text">Event form</div>
{%endblock%}

{% block main%}
<section class = "main-item eventForm">
  <form id="eventForm" onsubmit="return validateEventForm()">
    <h2> What's happening at your event? </h2>
    <h3> Venue information: </h3>
    <div>Event name:</div>
    <input type="text" name="eventName" placeholder="Optional">
    <div>
      <p id="eventTxt">Event date:<p>
      <input type="date" name="eventStartDate" value="{{ date }}" required>
    </div>
    <input name="multiDay" type="checkbox" value="multiDay" onchange="checkboxChecked(this, 'endDate')">Multi-Day?<br>
    <div id="endDate">
      Event end date:<br>
      <input type="date" name="eventEndDate">
    </div>
    <br>
    <div>Location postcode:</div>
    <!--http://html5pattern.com/Postal_Codes(Retrieved 17/11/17)-->
    <input type="text" name="postcode" pattern = "[A-Za-z]{1,2}[0-9Rr][0-9A-Za-z]? [0-9][ABD-HJLNP-UW-Zabd-hjlnp-uw-z]{2}" required>
    <div>Select the event region:</div>
    <select value="region" onchange="otherSelected(this, 'otherbox3')" name="eventRegion">
      <option value="Scarlets">Scarlets</option>
      <option value="Ospreys">Ospreys</option>
      <option value="Blues">Blues</option>
      <option value="Dragons">Dragons</option>
      <option value="RGC">RGC</option>
      <option value="AllWales">All Wales</option>
      <option value="Other">Other</option>
      <input type="text" id = "otherbox3"onkeyup="toggleSubmitButton(this, 'submit')">
    </select>
    <br>
    <br>
    <h3> Event information </h3>
    <div>Event inclusivity</div>
    <select value="inclusivity" name="inclusivity" onchange="otherSelected(this, 'otherbox2')">
      <option value="N/A">Not applicable</option>
      <option value="BME">BME</option>
      <option value="Disability">Disability</option>
      <option value="Deprivation">Deprivation</option>
      <option value="Female">Female</option>
      <option value="other">Other</option>
    </select>
    <input type="text" id="otherbox2" onkeyup="toggleSubmitButton(this, 'submit')">
    <br>
    <div class="activitycss">
    <div>Activity type</div>
    <div class="italics">Select all that apply</div>
    <section value="activity" name="activityTypes">
      <input name = "activityType" type="checkbox" value="hubActivity" onchange="checkboxChecked(this,'hubSelect')"  style="min-height:20px;min-width:20px;">Hub activity (school/club/college/university/other...)<br><br>
      <select id="hubSelect" value="hubType" onchange="otherSelected(this, 'hubBox')" name="hubType">
        <option value="School">School</option>
        <option value="Club">Club</option>
        <option value="College">College</option>
        <option value="University">University</option>
        <option value="other">Other</option>
        <input type="text" id="hubBox" value="" onkeyup="toggleSubmitButton(this, 'submit')"></input>
      </select>
      <input name = "activityType" type="checkbox"  value="communityFestival" style="min-height:20px;min-width:20px;">Community festival<br><br>
      <input name = "activityType" type="checkbox" value="competition" style="min-height:20px;min-width:20px;">Competition<br><br>
      <input name = "activityType" type="checkbox" value="communityProv" style="min-height:20px;min-width:20px;">Community provision<br><br>
      <input name = "activityType" type="checkbox" value="womenAndGirls" style="min-height:20px;min-width:20px;">Women and girls cluster<br><br>
      <input name = "activityType" type="checkbox" value="regionalRugbyCamps" style="min-height:20px;min-width:20px;">Regional rugby camps<br><br>
      <input name = "activityType" type="checkbox" value="exilesCamps" style="min-height:20px;min-width:20px;">Exiles camps<br><br>
      <input name = "activityType" type="checkbox" value="collaborativeDelivery" onchange="checkboxChecked(this,'collabBox')" style="min-height:20px;min-width:20px;">Collaborative delivery (Please specify partner/s...)<br><br>
      <input type="text" id = "collabBox" value="" onkeyup="toggleSubmitButton(this, 'submit')"></input>
      <input name = "activityType" type="checkbox" value="other" onchange="checkboxChecked(this,'otherbox')"  style="min-height:20px;min-width:20px;">Other
      <input type="text" id = "otherbox" onkeyup="toggleSubmitButton(this, 'submit')"></input>
    </section>
  </div>
    <br>

    <div>Additional information:</div>
    <div class="italics">eg. Sponsor information</div>
    <textarea rows="5" cols="45" id ="comments"></textarea>
    <br>
    <button id="submit" type="submit" value="submit">Submit</button>
    <br>
    <!-- The form-data will be reset to default values if pressed -->
    <button type="reset">Reset form</button> <!--https://www.w3schools.com/html/tryit.asp?filename=tryhtml_input_reset (Retrieved 17/11/17)-->
  </form>
  <span id='msg'></span>
</section>
{%endblock%}
