<!DOCTYPE html>
{% extends 'base.html' %}

{% block header %}
<div class = "header-item text">Staff Login</div>
{%endblock%}

{% block main %}
<section class = "main-item loginform">
  <form id='login' onsubmit="return validatePassword('login', 'password')">
    <b>Username:</b>
    <input type="text" placeholder="Enter your username here" name="username" required>
    <br>
    <b>Password:</b>
    <input type="password" placeholder="Enter your password here" name="password" required>
    <button type = "submit">Login</button>
  </form>
</section>
{% endblock %}
