{% extends 'base.html' %}
{% block header %}
<div class = "header-item text">Tournament form</div>
{%endblock%}

{% block main%}
<section class = "main-item tournamentForm">
  <form id="tournamentForm" name = "tournamentForm" enctype="multipart/form-data" onsubmit="return addTournament()">
    <h2> What's happening at your tournament? </h2>
    <h3> Venue information: </h3>
    <div>Event name:<div>
    <input type = "text" name = "eventName" placeholder="optional">
    <div>Event (start) date:</div>
    <input type="date" value="{{ date }}" id="datePicker" name="eventDate">
    <br>
    <div>Location postcode:
    <input type="text" name="postcode">
    </div>
    <h3> Tournament information </h3>
    <div>Number of people in attendance:</div>
    <input type="number" min="0" value="0" name="peopleNum" required>
    <br>
    <div>Age category</div>
    <select value="age" name="ageRange">
      <option value="minis">Minis 4-7</option>
      <option value="junior">Junior 8-15</option>
      <option value="youth">Youth 10-19</option>
      <option value="senior">Senior 18+</option>
    </select>
    <br>
    <div>Rugby offer:</div>
    <section name="rugbyOffers">
      <input name = "rugbyOffer" type="radio" value="standard" onchange="radioChecked(this, 'otherbox')" checked>15s/12s/10s<br>
      <input name = "rugbyOffer" type="radio" value="sevens" onchange="radioChecked(this, 'otherbox')">Sevens<br>
      <input name = "rugbyOffer" type="radio" value="touch" onchange="radioChecked(this, 'otherbox')">Touch<br>
      <input name = "rugbyOffer" type="radio" value="tag" onchange="radioChecked(this, 'otherbox')">Tag<br>
      <input name = "rugbyOffer" type="radio" value="beach" onchange="radioChecked(this, 'otherbox')">Beach<br>
      <input name = "rugbyOffer" type="radio" value="streetRugby" onchange="radioChecked(this, 'otherbox')">Street rugby<br>
      <input name = "rugbyOffer" type="radio" value="mixedAbility" onchange="radioChecked(this, 'otherbox')">Mixed ability<br>
      <input name = "rugbyOffer" type="radio" value="multiSport" onchange="radioChecked(this, 'otherbox')">Multi-sport<br>
      <input name = "rugbyOffer" type="radio" value="disability" onchange="radioChecked(this, 'otherbox')">Disability<br>
      <input name = "rugbyOffer" id="otherRadio" type="radio" value="Other" onchange="radioChecked(this, 'otherbox')">Other<br>
      <input name = "rugbyOffer" type="text" id="otherbox" onkeyup="toggleSubmitButton(this, 'submit')">
    </section>
    <br>
    <label for="genderRatio">Gender ratio</label>
    <br>
    <input name="genderRatio" type="range" min="0" max="100" value="50" id="genderRatio"
    step="10" oninput="outputUpdate(value)" class="genderRatioSlider">
    <div id = "femaleRatio" class = "labelFemale">Female: 50%</div>
    <div id = "maleRatio" class = "labelMale">Male: 50%</div>
    <br>
    <div>
      <label for="photo">Choose photo to upload</label><br>
      <input type="file" id="photo" name="photo">
    </div>
    <br>
    <button id="submit" type="submit" value="submit">Submit form</button>
    <br>
    <!-- The form-data will be reset to default values if pressed -->
    <button type="reset">Reset form</button> <!--https://www.w3schools.com/html/tryit.asp?filename=tryhtml_input_reset (Retrieved 17/11/17)-->
  </form>
  <a href="/Staff/EventForm" id="eventButton" style="color:black;">Go to Event Form</a>
  <span id='msg'></span>
</section>
{%endblock%}
