{% extends 'base.html' %}

{% block header %}
<div class = "header-item text">Verify Account</div>
{%endblock%}

{% block main %}
<section class = "main-item verifyform">
  <form id='verify' onsubmit="return verifyForm()">
    <b>Username:</b>
    <input type="text" placeholder="Enter your username here" name="username" required>
    <br>
    <b>Password:</b>
    <input type="password" placeholder="Enter your password here" name="password" required>
    <br>
    <br>
    <b>Please set new password</b>
    <br>
    <b>Password:</b>
    <input type="password" placeholder="Enter your password here" name="newpassword" id="newpassword" required onkeyup="checkPassword()">
    <br>
    <b>Re-enter Password:</b>
    <input type="password" placeholder="Re-enter your password here" name="checknewpassword" id="checknewpassword" required onkeyup="checkPassword()">
    <br>
    <button name='verify' id="verifybtn" type = "submit" disabled>Verify</button>
  </form>
  <span id='msg'></span>
  <span id='txt' hidden>{{ payload }}</span>
</section>

<script>
var checkPassword = function() {
  var matching = false;

  if (document.getElementById('newpassword').value ==
    document.getElementById('checknewpassword').value) {
    document.getElementById('msg').style.color = 'green';
    document.getElementById('msg').innerHTML = 'matching';
    matching = true;
  } else {
    document.getElementById('msg').style.color = 'red';
    document.getElementById('msg').innerHTML = 'not matching';
    matching = false;
  }

  if (matching)
  {
    document.getElementById("verifybtn").disabled = false;
  } else {
    document.getElementById("verifybtn").disabled = true;
  }

}
</script>

{% endblock %}
