/* staff page log in */
form {
    border: 1px solid ;
}

/* Inputs */
input[type=text], input[type=password] {
    width: 15%;
    padding: 10px 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #black;
    box-sizing: border-box;
}

/* button styles */
button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;

}

/* Hover to let you know your clicking on it */
button:hover {
    opacity: 0.65;
}

/* Cancel button styling */
.cancelbtn {
    width: 10%;
    padding: 10px 15px;
    background-color: #FF0000;
}
.create {
    width: 12%;
    padding: 10px 15px;
    background-color: #808080;
}

/* Add padding to containers */
.container {
    padding: 16px;
    width: 100%;     /* full screen */
}


/* Small screen adaptation of cancel button to test on small screen (phones) */
@media screen and (max-width: 300px) {

    .cancelbtn {
        width: 100%;
    }
}
