*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "calibri";
}

html
{
  font-size: 16px;
}

/*#selected
{
  font-style: italic;
  color: green;
}*/

a,
a:link,
a:visited {
  color: white;
  text-decoration: none;
}

a:link:hover {
  text-decoration: underline;
}

.header-container
{
  color: white;
  background-color: #E31B20;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.header
{
  display: flex;
  width: 100%;
  padding-bottom: 5px;
}

.banner
{
  display: flex;
  padding-top: 15px;
  margin-left: 10px;
  font-size: 3.125rem;
  font-weight: bold;
  width
}

.headerlogo
{
  padding-top: 5px;
  display: flex;
}

.logoutform
{
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.navbar-container
{
  color: white;
  background-color: #007e45;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  border-bottom: 3px dotted red;
  position: fixed;
  top: 80px;
  width: 100%;
  z-index: 2;
}

.navbar
{
  width: 100%;
  display: flex;
  font-size: 1.25rem;
  flex-wrap: wrap;
}

.navbar > li
{
  display: inline;
  margin-right: 30px;
}

.navbar > li:first-of-type
{
  margin-left: 10px;
}

.menu-dropdown
{
  display: none;
}

.menu-dropdown li
{
  list-style: none;
  margin: 5px;
}

.menu
{
  text-align: left;
}

.menu > a
{
  z-index: 1;
  position: absolute;
  cursor: pointer;
}

.menu:hover .menu-dropdown
{
  display: flex;
  flex-direction: column;
  background: black;

  position: absolute;
  top: 33px;
}

.menu.staff:hover .menu-dropdown.staff
{
  left: 105px;
}

.menu.admin:hover .menu-dropdown.admin
{
  left: 195px;
}

.main-container
{
  display: flex;
  justify-content: flex-start;
  padding-top: 127px;
  background-color: lightgray;
}

.main-item
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-size: 1.125rem;
  margin-left: 5px;
  margin-bottom: 5px;
}

.content
{
  align-items: center;
  width: 100%;
}

.footer-container
{
  display: flex;
  justify-content: flex-start;
  background-color: black;
  padding: 5px;
}

.footer-container
{
  color: white;
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 5px;
}

.footer
{
  width: 100%;
  display: flex;
}

.footer > li
{
  display: inline;
  margin-right: 20px;
}

/*.footer > li:last-of-type
{
  justify-content: flex-end;
  align-content: flex-end;
  align-self: flex-end;
  margin-left: auto;
}*/

form
{
    font-size: 1.1rem
}

input[type=text], input[type=password], input[type=email], select
{
    width: 98%;
    padding: 10px 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #black;
    box-sizing: border-box;
    font-size: 1.3rem;
}

select
{
  width: 40%
}

button
{
    background-color: black;
    color: white;
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    font-size: 1rem;
}

.logoutbutton
{
  display: flex;
  width: 10%;
  height: 70%;
  text-align: center;
  padding: 1% 0% 1% 2.5%;
  margin: 1.5% 1% 1% 1%;
}

/*
button:hover {
    opacity: 0.65;
}

.cancelbtn {
    width: 10%;
    padding: 10px 15px;
    background-color: #FF0000;
}
.create {
    width: 12%;
    padding: 10px 15px;
    background-color: #808080;
}

.container {
    padding: 16px;
    width: 100%;
}*/


/* Small screen adaptation of cancel button to test on small screen (phones) */
/*@media screen and (max-width: 300px) {

    .cancelbtn {
        width: 100%;
    }
}*/
