*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.greencircle
{
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-content: center;
  background: #0f0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-top: 5px;
}

.redcircle
{
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-content: center;
  background: #f00;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-top: 5px;
}

html
{
  font-size: 16px;
}

/*#selected
{
  font-style: italic;
  color: green;
}*/

a,
a:link,
a:visited
{
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.25rem;
}

a:hover
{
  text-decoration: underline;
}
#logout
{
  margin-right: 5px;
}

.header-container
{
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  color: white;
  background-color: #E31B20;
  z-index: 2;
  justify-content: space-between;
}

.header
{
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.header-item
{
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  padding-bottom: 5px;
}

.header-item.text
{
  font-size: 3.125rem;
  font-weight: bold;
  margin-left: 20px;
  width:auto;
}

button
{
  background-color: black;
  color: white;
  padding: 10px 10px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
  font-size: 1rem;
  border-radius: 15px;
}

button:disabled
{
  background-color: grey;
  color: black;
}

.navbar-container
{
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  color: white;
  background-color: #007e45;
  padding-top: 5px;
  padding-bottom: 5px;
  justify-content: flex-start;
  align-content: flex-start;
  border-bottom: 2px dotted red;
  width: 100%;
  z-index: 2;
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  top: 0;
}

.navbar
{
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  width: 100%;
  font-size: 1.25rem;
  flex-wrap: wrap;
}

.navbar > li
{
  display: inline;
  margin-left: 30px;
}

.navbar > li:first-of-type
{
  margin-left: 10px;
}

#loginName
{
  margin-left: auto;
  justify-content: flex-end;
  margin-right: 10px;
}

.dropdown
{
  text-align: left;
  overflow: hidden;
}

.dropdown .droptext
{
  font-size: 1.25rem;
}

.dropdown-content
{
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a
{
  display: block;
  margin: 5px;
  text-align: left;
}

.dropdown-content a:hover
{
  background-color: #2e2e2e;
}

.dropdown:hover .dropdown-content
{
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  flex-direction: column;
  background: black;
  display: block;
}
.labelFemale
{
  float: right;
}

.main-container
{
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  justify-content: flex-start;
  background-color: lightgray;
}

.main-item
{
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-size: 1.125rem;
  margin-left: 5px;
  margin-bottom: 5px;
}

.content
{
  align-items: center;
  width: 100%;
}

div.italics{
  font-style: italic;
}

.footer-container
{
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  justify-content: flex-start;
  background-color: black;
  padding: 5px;
}

.footer-container
{
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  color: white;
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 5px;
}

.footer
{
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  width: 100%;
}

.footer > li
{
  display: inline;
  margin-right: 20px;
}

form
{
    font-size: 1.1rem
}

input[type=text], input[type=password], input[type=email], select
{
    width: 98%;
    padding: 10px 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #black;
    box-sizing: border-box;
    font-size: 1.3rem;
}

input[type=checkbox]
{
    min-height:20px;
    min-width:20px;
}

#otherbox, #otherbox2, #otherbox3, #collabBox, #hubBox, #hubSelect, #endDate, #offlineStaffPages
{
  display: none;
}

select
{
  width: 55%
}

button:hover
{
  text-decoration: underline;
}

 /*Small screen adaptation for small screens (phones) */
@media screen and (max-width: 550px)
{
  html
  {
    font-size: 10px;
  }
  .navbar
  {
    font-size: 1rem;
  }

  .main-item.loginform
  {
      width: 100%;
      border-radius: 5px;
      padding: 20px;
  }
}
