*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

#otherbox, #otherbox2, #otherbox3
{
  display: none;
}

html
{
  font-size: 16px;
}

/*#selected
{
  font-style: italic;
  color: green;
}*/

a,
a:link,
a:visited
{
  color: white;
  text-decoration: none;
}

a:link:hover
{
  text-decoration: underline;
}

.header-container
{
  color: white;
  background-color: #E31B20;
  display: flex;
  z-index: 2;
  justify-content: space-between;
}

.header
{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.header-item
{
  display: flex;
  flex: 0;
  padding-bottom: 5px;
}

.header-item.text
{
  font-size: 3.125rem;
  font-weight: bold;
  margin-left: 20px;
}

.logoutform
{
  flex: 1;
  justify-content: flex-end;
}

button
{
    background-color: black;
    color: white;
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    font-size: 1rem;
    border-radius: 15px;
}

.logoutbutton
{
  /*display: flex;*/
  width: 10%;
  /*margin: 1% 1% 1% 1%;*/
  min-width: 70px;
}

.navbar-container
{
  color: white;
  background-color: #007e45;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  border-bottom: 2px dotted red;
  width: 100%;
  z-index: 2;
}

.navbar
{
  width: 100%;
  display: flex;
  font-size: 1.25rem;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.navbar > li
{
  display: inline;
  margin-left: 30px;
}

.navbar > li:first-of-type
{
  margin-left: 10px;
}

.dropdown
{
  text-align: left;
  overflow: none;
}

.dropdown .droptext
{
  font-size: 1.25rem;
}

.dropdown-content
{
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a
{
  display: block;
  margin: 5px;
  text-align: left;
  cursor: pointer;
}

.dropdown-content a:hover
{
  background-color: #2e2e2e;
}

.dropdown:hover .dropdown-content
{
  display: flex;
  flex-direction: column;
  background: black;
  display: block;
}

.main-container
{
  display: flex;
  justify-content: flex-start;
  background-color: lightgray;
}

.main-item
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-size: 1.125rem;
  margin-left: 5px;
  margin-bottom: 5px;
}

.content
{
  align-items: center;
  width: 100%;
}

div.italics{
  font-style: italic;
}

.footer-container
{
  display: flex;
  justify-content: flex-start;
  background-color: black;
  padding: 5px;
}

.footer-container
{
  color: white;
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 5px;
}

.footer
{
  width: 100%;
  display: flex;
}

.footer > li
{
  display: inline;
  margin-right: 20px;
}

form
{
    font-size: 1.1rem
}

input[type=text], input[type=password], input[type=email], select
{
    width: 98%;
    padding: 10px 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #black;
    box-sizing: border-box;
    font-size: 1.3rem;
}

select
{
  width: 55%
}

 /*Small screen adaptation for small screens (phones) */
@media screen and (max-width: 450px)
{
  html
  {
    font-size: 10px;
  }

  .main-item.loginform
  {
      width: 100%;
      border-radius: 5px;
      padding: 20px;
      /*text-align: center;*/
  }

  /*.main-item.eventForm
  {
      width: 100%;
      border-radius: 5px;
      padding: 20px;
      text-align: center;
  }*/

  /*.main-item.tournamentForm
  {
      width: 100%;
      border-radius: 5px;
      padding: 20px;
      text-align: center;
  }*/
}

/*
button:hover {
    opacity: 0.65;
}

.cancelbtn {
    width: 10%;
    padding: 10px 15px;
    background-color: #FF0000;
}
.create {
    width: 12%;
    padding: 10px 15px;
    background-color: #808080;
}

.container {
    padding: 16px;
    width: 100%;
}*/
