{% extends 'base.html' %}

{% block header %}
<div class = "header-item text">Admin</div>
{%endblock%}

{% block main %}
<section class = "main-item">
  <h1> Add Staff member </h1>
  <p>Input Staff details below.</p>
  <form id='addstaff' onsubmit="return addStaff()">
    First name: <input type = "text" placeholder="Enter first name here" name = "firstName" required><br>
    Surname: <input type = "text" placeholder="Enter surname here" name = "surname" required><br>
    Password: <input type = "password" placeholder="Enter password here" name = "password" id="newpassword" onkeyup="checkBoxesMatch('newpassword', 'submit')" required><br>
    Re-enter Password:
    <input type="password" placeholder="Re-enter your password here" name="checknewpassword" id="checknewpassword" onkeyup="checkBoxesMatch('newpassword', 'submit')" required>
    <br>
    Email: <input type = "email" placeholder="Enter email here" name = "email" id="newemail" onkeyup="checkBoxesMatch('newemail', 'submit')" required><br>
    Re-enter Email: <input type="email" placeholder="Re-enter your email here" name="checkemail" id="checknewemail" onkeyup="checkBoxesMatch('newemail', 'submit')" required>
    <br>
    User type: <select value = "usertype" name="usertype">
      <option value="Staff">Staff</option>
      <option value="Admin">Admin</option>
    </select><br>
    Organisation:
    <select value = "organisation" name="organisation" onchange="otherSelected(this, 'otherbox')">
      <option value="WRU">WRU</option>
      <option value="Other">Other</option>
      <input type="text" id="otherbox" onkeyup="toggleSubmitButton(this, 'submit')">
    </select><br>
    <button name='submit' id="submit" type = "submit" disabled> Submit </button>
  </form>
  <span id='msg'></span>
</section>
{% endblock %}
