{% extends 'base.html' %}

{% block header %}
<div class = "header-item text">Admin</div>
{%endblock%}

{% block main %}
<section class = "main-item">
  <h1> Add Staff member </h1>
  <p>Input Staff details below.</p>
  <form id='addstaff' onsubmit="return validatePassword('addstaff', 'password')">
    First name: <input type = "text" placeholder="Enter first name here" name = "firstName" required><br>
    Surname: <input type = "text" placeholder="Enter surname here" name = "surname" required><br>
    Password: <input type = "password" placeholder="Enter password here" name = "password" id="newpassword" required onkeyup="checkPassword()" required><br>
    Re-enter Password:
    <input type="password" placeholder="Re-enter your password here" name="checknewpassword" id="checknewpassword" onkeyup="checkPassword()" required>
    <br>
    Email: <input type = "email" placeholder="Enter email here" name = "email" required><br>
    User type: <select value = "usertype" name="usertype">
      <option value="Staff">Staff</option>
      <option value="Admin">Admin</option>
    </select><br>
    Organisation: <select value = "organisation" name="organisation" onchange="otherSelected(this, 'otherbox3')">
      <option value="wru">WRU</option>
      <option value="other">Other</option>
    </select><br>
    <button name='verify' id="verifybtn" type = "submit" disabled> Submit </button>
  </form>
  <span id='msg'></span>
</section>

<script>
var checkPassword = function() {
  var matching = false;

  if (document.getElementById('newpassword').value ==
    document.getElementById('checknewpassword').value) {
    document.getElementById('msg').style.color = 'green';
    document.getElementById('msg').innerHTML = 'matching';
    matching = true;
  } else {
    document.getElementById('msg').style.color = 'red';
    document.getElementById('msg').innerHTML = 'not matching';
    matching = false;
  }

  if (matching)
  {
    document.getElementById("verifybtn").disabled = false;
  } else {
    document.getElementById("verifybtn").disabled = true;
  }

}
</script>
{% endblock %}
