{% extends 'base.html' %}

{% block header %}
<div class = "header-item text">Admin</div>
{%endblock%}

{% block main %}
<section class = "main-item">
  <h1> Add Staff member </h1>
  <p>Input Staff details below.</p>
  <form id='addstaff' onsubmit="return validatePassword('addstaff', 'password')">
    First name: <input type = "text" placeholder="Enter first name here" name = "firstName" required><br>
    Surname: <input type = "text" placeholder="Enter surname here" name = "surname" required><br>
    Password: <input type = "password" placeholder="Enter password here" name = "password" required><br>
    Email: <input type = "email" placeholder="Enter email here" name = "email" required><br>
    User type: <select value = "usertype" name="usertype">
      <option value="Staff">Staff</option>
      <option value="Admin">Admin</option>
    </select><br>
    Organisation: <select value = "organisation" name="organisation" onchange="otherSelected(this, 'otherbox3')">
      <option value="wru">WRU</option>
      <option value="other">Other</option>
    </select><br>
    <button type = "submit"> Submit </button>
  </form>
  <span id='msg'></span>
</section>
{% endblock %}
