{% extends 'base.html' %}

{% block header %}
<div class = "header-item text">Admin</div>
{%endblock%}

{% block main %}
<section class = "main-item loginform">
  <form class='login' action='/Admin/Chart' method = 'post'>
    Search Tournament ID:<input type = "text" name = "tournamentchart"><br>
    <button type = "submit"> Show chart </button>
  </form>

  <div class="chartposition">
 <canvas id="chart" width="400%" height="320%"></canvas>
 </div>
</section>





 <script src='../static/js/Chart.min.js'></script>



<script>
   var pieData = [
            {% for item,label,colors in set %}
                {
                    value: {{item}},
                    label: "{{label}}",
                    color : "{{colors}}"
                },
                {% endfor %}


         ];

   // get bar chart canvas
   var mychart = document.getElementById("chart").getContext("2d");

   steps = 10
   max = 10
   // draw pie chart
   new Chart(document.getElementById("chart").getContext("2d")).Pie(pieData);

</script>

{%endblock%}
