{% extends 'base.html' %}

{% block header %}
<div class = "header-item text">Search form</div>
{%endblock%}

{% block main %}
<section class = "main-item searchForm">
  <h1>Event Data</h1>
  <form id='myForm' action='/Admin/DLSearch' method = 'post'>
    <!-- Event Name:<input type = "text" name = "eventName"><br> -->
    Start date for search: <input type="date" name="searchStartDate" value="{{ quarter }}" required><br>
    End date for search: <input type="date" name="searchEndDate" value="{{ today }}" required><br>
    <button type = "submit"> Find Event information </button>
  </form>

  <table style="border: 1px solid black;border-collapse: collapse;">
  {% for row in data %}
    <tr>
      {% for item in row %}
        <td style="border: 1px solid black; border-collapse: collapse; padding: 5px;">{{item}}</td>
      {% endfor %}
    </tr>
  {% endfor %}
  </table>
</section>
{%endblock%}
