<!DOCTYPE html>
{% extends 'base.html' %}
{% block head %}
{{ super() }}
<script type="text/javascript" src="../static/js/formhandling.js"></script>
{%endblock%}

{% block header %}
<div class = "header-item text">Download database</div>
{%endblock%}

{% block main %}
<section class = "main-item">
  <h1> Download the database as an excel file </h1>
  <br>
  <div class="italics">Includes event forms and tournament forms in separate tabs</div>
  <button onclick="downloadxlsx()">Download xslx file</button>
</section>
<script>
function downloadxlsx(){
  $.ajax({ type: "POST",
   url: "/Admin/Downloadfile",
   data: null,
   success: savexlsx,
   dataType: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"});
}
function savexlsx(data){
  console.log(data)
}
</script>
{%endblock%}
