<!DOCTYPE html>
{% extends 'base.html' %}
{% block head %}
{{ super() }}
<script type="text/javascript" src="../static/js/formhandling.js"></script>
{%endblock%}

{% block header %}
<div class = "header-item text">Download database</div>
{%endblock%}

{% block main %}
<section class = "main-item">
  <h1> Download the database as an excel file </h1>
  <br>
  <div class="italics">Includes event forms and tournament forms in separate tabs</div>
  <button onclick="generatexlsx()">Generate xslx file</button>
  <div id="downloadStatus"><a href="/static/downloads/FormInformation.xlsx">Click this link to download the spreadsheet</a></div>
</section>
<script>
function generatexlsx(){
  $.get({
    type: "GET",
    url: "/Admin/Downloadfile",
    data: null,
    success: savexlsx});
}
function savexlsx(data){
  console.log('Hello')

}
</script>
{%endblock%}
