{% extends 'base.html' %}

{% block header %}
<div class = "header-item text">Search form</div>
{%endblock%}

{% block main %}
<section class = "main-item searchForm">
  <form id='eventSearchForm' action='/Admin/Search' method = 'post'>
    <h1>Event Data</h1>
    Add search filter: <input name="addEventSearchFilter" value="addEventSearchFilter" id="1" type="checkbox" onchange="searchCheckboxChecked(this)"><br>
    <div id="eventFilter1">
      <div id="eventFilterSelect1">
        <label>Select what you wish to filter search by?</label><br>
        <select id="1" name = "eventFilterSelect" class = "eventFilterSelect" onchange="filterSelectChange(this)">
          <option value="eventRegion">Event Region</option>
          <option value="inclusivity">Event Inclusivity</option>
          <option value="activityTypes">Activity Type</option>
          <option value="eventName">Event Name</option>
        </select>
      </div>
      <div id="eventFilterValue1">
        <label>Select the event region you wish to filter by:</label><br>
        <select name = "eventFilterValue" class = "eventFilterValue">
          <option value="Scarlets">Scarlets</option>
          <option value="Ospreys">Ospreys</option>
          <option value="Blues">Blues</option>
          <option value="Dragons">Dragons</option>
          <option value="RGC">RGC</option>
          <option value="AllWales">All Wales</option>
          <!-- <option value="Other">Other</option> -->
        </select>
      </div>
    </div>
    <br>
    <h1>Tournament Data</h1>
    Add search filter: <input name="addTournamentSearchFilter" value="addTournamentSearchFilter" id="1" type="checkbox" onchange="searchCheckboxChecked(this)"><br>
    <div id="tournamentFilter1">
      <div id="tournamentFilterSelect1">
        <label>Select what you wish to filter search by?</label><br>
        <select id="1" name = "tournamentFilterSelect" class = "tournamentFilterSelect" onchange="filterSelectChange(this)">
          <option value="ageCategory">Age Category</option>
          <option value="rugbyOffer">Rugby Offer</option>
        </select>
      </div>
      <div id="tournamentFilterValue1">
        <label>Select the tournament age category you wish to filter by:</label><br>
        <select name = "tournamentFilterValue" class = "tournamentFilterValue">
          <option value="minis">Minis 4-7</option>
          <option value="junior">Junior 8-15</option>
          <option value="youth">Youth 10-19</option>
          <option value="senior">Senior 18+</option>
        </select>
      </div>
    </div>
    <br>
    Narrow by dates: <input value="narrowByDates" name ="narrowByDates" type="checkbox" onchange="searchCheckboxChecked(this)"><br>
    <div id="searchDates">
      <label>Start date for search: </label>
      <input type="date" id="searchStartDate" name="searchStartDate"><br>
      <span id="quarter" hidden>{{ quarter }}</span>
      <label>End date for search: </label>
      <input type="date" id="searchEndDate" name="searchEndDate" value="{{ today }}"><br>
    </div>
    <button type = "submit"> Search information </button><br>
    <a href="/Admin/Search" style="color:black;"> Reset Page </a>
  </form>

  <table style="border: 1px solid black;border-collapse: collapse;">
  {% for row in data %}
    <tr>
      {% for item in row %}
        <td style="border: 1px solid black; border-collapse: collapse; padding: 5px;">{{item}}</td>
      {% endfor %}
    </tr>
  {% endfor %}
  </table>
</section>
{%endblock%}
