{% extends 'base.html' %}

{% block header %}
<div class = "header-item text">Search form</div>
{%endblock%}

{% block main %}
<section class = "main-item searchForm">
  <h1>Event Data</h1>
  <form id='eventSearchForm' action='/Admin/Search' method = 'post'>
    Add search filter: <input name="addSearchFilter" value="addSearchFilter" id="1" type="checkbox" onchange="searchCheckboxChecked(this)"><br>
    <div id="filter1">
      <div id="filterSelect1">
        <label>Select what you wish to filter search by?</label><br>
        <select id="1" name = "filterSelect" class = "filterSelect" onchange="filterSelectChange(this)">
          <option value="eventRegion">Event Region</option>
          <option value="inclusivity">Event Inclusivity</option>
          <option value="activityTypes">Activity Type</option>
          <option value="eventName">Event Name</option>
        </select>
      </div>
      <div id="filterValue1">
        <label>Select the event region you wish to filter by:</label><br>
        <select name = "filterValue" class = "filterValue" value="region">
          <option value="Scarlets">Scarlets</option>
          <option value="Ospreys">Ospreys</option>
          <option value="Blues">Blues</option>
          <option value="Dragons">Dragons</option>
          <option value="RGC">RGC</option>
          <option value="AllWales">All Wales</option>
          <!-- <option value="Other">Other</option> -->
        </select>
      </div>
    </div>
    <br>
    Narrow by dates: <input value="narrowByDates" name ="narrowByDates" type="checkbox" onchange="searchCheckboxChecked(this)"><br>
    <div id="searchDates">
      <label>Start date for search: </label>
      <input type="date" id="searchStartDate" name="searchStartDate"><br>
      <span id="quarter" hidden>{{ quarter }}</span>
      <label>End date for search: </label>
      <input type="date" id="searchEndDate" name="searchEndDate" value="{{ today }}"><br>
    </div>
    <button type = "submit"> Search information </button>
  </form>
  <br>
  <br>

  <table style="border: 1px solid black;border-collapse: collapse;">
  {% for row in data %}
    <tr>
      {% for item in row %}
        <td style="border: 1px solid black; border-collapse: collapse; padding: 5px;">{{item}}</td>
      {% endfor %}
    </tr>
  {% endfor %}
  </table>
</section>
{%endblock%}
