{% extends 'base.html' %}

{% block header %}
<div class = "header-item text">Search form</div>
{%endblock%}

{% block main %}
<section class = "main-item searchForm">
<h1>Event Data</h1>
<form id='myForm' action='/Admin/Search' method = 'post'>
  Event:<input type = "text" name = "eventsearch"><br>
  <button type = "submit"> Find Event information </button>
</form>

<h1>Tournament Data</h1>
<form id='myForm' action='/Admin/Search' method = 'post'>
  Tournament ID:<input type = "text" name = "tournamentsearch"><br>
  <button type = "submit"> Find Tournament information </button>
</form>

{% for row in data1 %}
<table border = 1>
<thead>
   <!-- <td>ID</td> -->
   <td>Event Name</td>
   <td>Event date</td>
   <td>Postcode</td>
   <td>Region</td>
   <td>Inclusivity</td>
   <td>Activity Type</td>
</thead>

   <tr>
     <!-- <td>{{row[0]}}</td> -->
     <td>{{row[1]}}</td>
     <td>{{row[2]}}</td>
     <td>{{row[4]}}</td>
     <td>{{row[5]}}</td>
     <td>{{row[6]}}</td>
     <td>{{row[7]}}</td>
   </tr>
{% endfor %}
</table>

{% for row in data2 %}
<table border = 1>
<thead>
   <!-- <td>ID</td> -->
   <td>Event Name</td>
   <td>Event date</td>
   <td>Postcode</td>
   <td>Region</td>
   <td>Inclusivity</td>
   <td>Activity Type</td>
</thead>

   <tr>
     <!-- <td>{{row[0]}}</td> -->
     <td>{{row[1]}}</td>
     <td>{{row[2]}}</td>
     <td>{{row[4]}}</td>
     <td>{{row[5]}}</td>
     <td>{{row[6]}}</td>
     <td>{{row[7]}}</td>
   </tr>
{% endfor %}
</table>

{% for row in data3 %}
<table border = 1>
<thead>
   <!-- <td>ID</td> -->
   <td>Event Name</td>
   <td>Event date</td>
   <td>Postcode</td>
   <td>Region</td>
   <td>Inclusivity</td>
   <td>Activity Type</td>
</thead>

   <tr>
     <!-- <td>{{row[0]}}</td> -->
     <td>{{row[1]}}</td>
     <td>{{row[2]}}</td>
     <td>{{row[4]}}</td>
     <td>{{row[5]}}</td>
     <td>{{row[6]}}</td>
     <td>{{row[7]}}</td>
   </tr>
{% endfor %}
</table>

{% for row in data4 %}
<table border = 1>
<thead>
   <!-- <td>ID</td> -->
   <td>Event Name</td>
   <td>Event date</td>
   <td>Postcode</td>
   <td>Region</td>
   <td>Inclusivity</td>
   <td>Activity Type</td>
</thead>

   <tr>
     <!-- <td>{{row[0]}}</td> -->
     <td>{{row[1]}}</td>
     <td>{{row[2]}}</td>
     <td>{{row[4]}}</td>
     <td>{{row[5]}}</td>
     <td>{{row[6]}}</td>
     <td>{{row[7]}}</td>
   </tr>
{% endfor %}
</table>

{% for row in data5 %}
<table border = 1>
<thead>
   <!-- <td>ID</td> -->
   <td>Event Name</td>
   <td>Event date</td>
   <td>Postcode</td>
   <td>Region</td>
   <td>Inclusivity</td>
   <td>Activity Type</td>
</thead>

   <tr>
     <!-- <td>{{row[0]}}</td> -->
     <td>{{row[1]}}</td>
     <td>{{row[2]}}</td>
     <td>{{row[4]}}</td>
     <td>{{row[5]}}</td>
     <td>{{row[6]}}</td>
     <td>{{row[7]}}</td>
   </tr>
{% endfor %}
</table>

{% for row in data6 %}
<table border = 1>
<thead>
   <!-- <td>ID</td> -->
   <td>Event Name</td>
   <td>Event date</td>
   <td>Postcode</td>
   <td>Region</td>
   <td>Inclusivity</td>
   <td>Activity Type</td>
</thead>

   <tr>
     <!-- <td>{{row[0]}}</td> -->
     <td>{{row[1]}}</td>
     <td>{{row[2]}}</td>
     <td>{{row[4]}}</td>
     <td>{{row[5]}}</td>
     <td>{{row[6]}}</td>
     <td>{{row[7]}}</td>
   </tr>
{% endfor %}
</table>
{% for row in data7 %}
<table border = 1>
<thead>
   <!-- <td>ID</td> -->
   <td>Event Name</td>
   <td>Event date</td>
   <td>Postcode</td>
   <td>Region</td>
   <td>Inclusivity</td>
   <td>Activity Type</td>
</thead>

   <tr>
     <!-- <td>{{row[0]}}</td> -->
     <td>{{row[1]}}</td>
     <td>{{row[2]}}</td>
     <td>{{row[4]}}</td>
     <td>{{row[5]}}</td>
     <td>{{row[6]}}</td>
     <td>{{row[7]}}</td>
   </tr>
{% endfor %}
</table>
{% for row in data8 %}
<table border = 1>
<thead>
   <!-- <td>ID</td> -->
   <td>Event Name</td>
   <td>Event date</td>
   <td>Postcode</td>
   <td>Region</td>
   <td>Inclusivity</td>
   <td>Activity Type</td>
</thead>

   <tr>
     <!-- <td>{{row[0]}}</td> -->
     <td>{{row[1]}}</td>
     <td>{{row[2]}}</td>
     <td>{{row[4]}}</td>
     <td>{{row[5]}}</td>
     <td>{{row[6]}}</td>
     <td>{{row[7]}}</td>
   </tr>
{% endfor %}
</table>

{% for row in data9 %}
<table border = 1>
<thead>
   <!-- <td>ID</td> -->
   <td>Total number of people</td>
   <td>Age Category</td>
   <td>Gender Ratio</td>
   <td>Rugby Offers</td>
   <!-- <td>Event ID</td> -->

</thead>

   <tr>
     <!-- <td>{{row[0]}}</td> -->
     <td>{{row[1]}}</td>
     <td>{{row[2]}}</td>
     <td>{{row[3]}}</td>
     <td>{{row[4]}}</td>
     <!-- <td>Event ID</td> -->

   </tr>
{% endfor %}
</table>

{% for row in data10 %}
<table border = 1>
<thead>
   <!-- <td>ID</td> -->
   <td>Total number of people</td>
   <td>Age Category</td>
   <td>Gender Ratio</td>
   <td>Rugby Offers</td>
   <!-- <td>Event ID</td> -->

</thead>

   <tr>
     <!-- <td>{{row[0]}}</td> -->
     <td>{{row[1]}}</td>
     <td>{{row[2]}}</td>
     <td>{{row[3]}}</td>
     <td>{{row[4]}}</td>
     <!-- <td>Event ID</td> -->

   </tr>
{% endfor %}
</table>

{% for row in data11 %}
<table border = 1>
<thead>
   <!-- <td>ID</td> -->
   <td>Total number of people</td>
   <td>Age Category</td>
   <td>Gender Ratio</td>
   <td>Rugby Offers</td>
   <!-- <td>Event ID</td> -->

</thead>

   <tr>
     <!-- <td>{{row[0]}}</td> -->
     <td>{{row[1]}}</td>
     <td>{{row[2]}}</td>
     <td>{{row[3]}}</td>
     <td>{{row[4]}}</td>
     <!-- <td>Event ID</td> -->

   </tr>
{% endfor %}
</table>

{% for row in data12 %}
<table border = 1>
<thead>
   <!-- <td>ID</td> -->
   <td>Total number of people</td>
   <td>Age Category</td>
   <td>Gender Ratio</td>
   <td>Rugby Offers</td>
   <!-- <td>Event ID</td> -->

</thead>

   <tr>
     <!-- <td>{{row[0]}}</td> -->
     <td>{{row[1]}}</td>
     <td>{{row[2]}}</td>
     <td>{{row[3]}}</td>
     <td>{{row[4]}}</td>
     <!-- <td>Event ID</td> -->

   </tr>
{% endfor %}
</table>

{% for row in data13 %}
<table border = 1>
<thead>
   <!-- <td>ID</td> -->
   <td>Total number of people</td>
   <td>Age Category</td>
   <td>Gender Ratio</td>
   <td>Rugby Offers</td>
   <!-- <!-- <td>Event ID</td> --> -->

</thead>

   <tr>
     <!-- <td>{{row[0]}}</td> -->
     <td>{{row[1]}}</td>
     <td>{{row[2]}}</td>
     <td>{{row[3]}}</td>
     <td>{{row[4]}}</td>
     <!-- <td>Event ID</td> -->

   </tr>
{% endfor %}
</table>

{%endblock%}
