{% extends 'base.html' %}
{% block head %}
<title>Admin Page</title>
{%endblock%}

{% block main %}
<section class = "main-item">
  <h1> Add Staff member </h1>
  <p>Input Staff details below.</p>
  <form id='addstaff' onsubmit="return loadName()">
    First name:<input type = "text" name = "firstName"><br>
    Surname:<input type = "text" name = "surname"><br>
    Date of Birth:<input type = "text" name = "dateofbirth"><br>
    Place of Birth:<input type = "text" name = "homeLocation"><br>
    Username:<input type = "text" name = "username"><br>
    Password:<input type = "text" name = "password"><br>


    <button type = "submit"> submit </button>
  </form>
  <span id='txt'></span>

  <script>
    function loadName() {
      var firstName = document.forms["addstaff"]["firstName"].value;
      var surname = document.forms["addstaff"]["surname"].value;
      var dateofbirth = document.forms["addstaff"]["dateofbirth"].value;
      var homeLocation = document.forms["addstaff"]["homeLocation"].value;
      var username = document.forms["addstaff"]["username"].value;
      var password = document.forms["addstaff"]["password"].value;
      params = 'firstName='+firstName+'&surname='+surname+'&dateofbirth='+dateofbirth+'&homeLocation='+homeLocation+'&username='+username+'&password='+password;
      var xhttp = new XMLHttpRequest();
      xhttp.open("POST", '/admin', true); // true is asynchronous
      xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhttp.onload = function() {
        if (xhttp.readyState === 4 && xhttp.status === 200) {
          console.log(xhttp.responseText);
          document.getElementById("txt").innerHTML = xhttp.responseText;
        } else {
          console.error(xhttp.statusText);
        }
      };
      xhttp.send(params);
      return false;
    }

  </script>




</section>
{% endblock %}
