{% extends 'base.html' %}
{% block head %}
{{ super() }}
<script type="text/javascript" src="../static/js/temp/adminpage.js"></script>
{%endblock%}

{% block main %}
<section class = "main-item">
  <h1> Add Staff member </h1>
  <p>Input Staff details below.</p>
  <form id='addstaff' onsubmit="return loadName()">
    First name:<input type = "text" name = "firstName"><br>
    Surname:<input type = "text" name = "surname"><br>
    Date of Birth:<input type = "text" name = "dateofbirth"><br>
    Place of Birth:<input type = "text" name = "homeLocation"><br>
    Username:<input type = "text" name = "username"><br>
    Password:<input type = "text" name = "password"><br>
    <button type = "submit"> submit </button>
  </form>
  <span id='txt'></span>
</section>
{% endblock %}
