{% extends 'base.html' %}
{% block head %}
{{ super() }}
<script type="text/javascript" src="../static/js/formhandling.js"></script>
{%endblock%}

{% block main %}
<section class = "main-item">
  <h1> Add Staff member </h1>
  <p>Input Staff details below.</p>
  <form id='addstaff' onsubmit="return addStaff()">
    First name:<input type = "text" name = "firstName"><br>
    Surname:<input type = "text" name = "surname"><br>
    Password:<input type = "password" name = "password"><br>
    User type:<select value = "usertype" name="usertype">
      <option value="Staff">Staff</option>
      <!-- <option value="Guest">Guest</option> -->
      <option value="Admin">Admin</option>
    </select>
    <button type = "submit"> Submit </button>
  </form>
  <span id='txt'></span>
</section>
{% endblock %}
