<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/resources/images/favicon.ico" type="image/x-icon">
    {% endblock %}
  </head>

  <body>
    <header class = "header-container">
      <div class = "header">
        <img class = "headerlogo" src="../static/resources/images/logo.png" alt="WRU Logo">
        {% block header %}
        <div class = "banner">Welcome</div>
        {% endblock %}
        <form class = "logoutform" action="/Logout" method="post">
          <button class = "logoutbutton" type="submit">Logout</button>
        </form>
      </div>
    </header>

    {% block navbar %}
    <nav class = "navbar-container">
      <ul class="navbar">
        <li><a href = "/Home"> Home </a></li>
        <li class = "menu staff"><label> Staff Pages </label>
          <ul class = "menu-dropdown staff">
            <li><a href="/Staff/Login"> Login </a></li>
            {% if isloggedin != None %}
              {% if isloggedin == True %}
              <li><a href="/Staff/EventForm"> Event Form </a></li>
              <li><a href="/Staff/TournamentForm"> Tournament Form </a></li>
              {% endif %}
            {% endif %}
          </ul>
        </li>
        {% if admin != None %}
          {% if admin == True %}
          <li class = "menu admin"><label> Admin </label>
            <ul class = "menu-dropdown admin">
              <li><a href="/Admin/AddStaff"> Add staff </a></li>
            </ul>
          </li>
          {% endif %}
        {% endif %}
      </ul>
    </nav>
    {% endblock %}

    <main class = "main-container">
      {% block main %}

      {% endblock %}
    </main>

    {% block footer %}
    <footer class = "footer-container"> <!-- Needs looking at -->
      <ul class="footer">
        <li><a class = "footer-item" href="mailto:AthertonA@cardiff.ac.uk"> Mail Alex </a></li>
        <li><a class = "footer-item" href="mailto:SmithHL2@cardiff.ac.uk"> Mail Holly </a></li>
        <li><a class = "footer-item" href="mailto:WarlowL@cardiff.ac.uk"> Mail Luke </a></li>
        <li><a class = "footer-item" href="http://www.wru.co.uk/eng/home.php"> Visit WRU </a></li>
        <li><a class = "footer-item">©2017</a></li>
      </ul>
    </footer>
    {% endblock %}
  </body>
</html>
