<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/slider.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <script type="text/javascript" src="/static/js/formhandling.js"></script>
    <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
    {% endblock %}
  </head>

  <body onload="isOnline()">
    <header class = "header-container">
      <div class = "header">
        <div class = "header-item logo">
          <img src="/static/resources/images/logo.png" alt="WRU Logo went here">
        </div>
        {% block header %}
        <div class = "header-item text">Welcome</div>
        {% endblock %}
      </div>
    </header>
    <nav class = "navbar-container">
      <ul class="navbar">
        <li><span id='connectionStatus'></span></li>
        <li><a id="home" href = "/Home"> Home </a></li>
        {% if session['username'] is not defined %}
        <li><a id="login" href="/Staff/Login"> Login </a></li>
        {% endif %}
        {% if session['username'] %}
        <li class = "dropdown">
          <label id="staffpages" class = "droptext"> Staff Pages &#9660;</label>
          <div class = "dropdown-content">
            <a href="/Staff/EventForm"> Event Form </a>
            <a href="/Staff/TournamentForm"> Tournament Form </a>
            <a id="accountChanges" href="/Staff/Account"> Account </a>
          </div>
        </li>
        {% endif %}
        {% if session['usertype'] == "Admin" %}
        <li id="adminsection" class = "dropdown">
          <label class = "droptext"> Admin &#9660;</label>
          <div class = "dropdown-content">
            <a href="/Admin/AddStaff"> Add staff </a>
            <a href="/Admin/AmendStaff"> Amend staff </a>
            <a href="/Admin/Search"> Data Search </a>
            <a href="/Admin/Chart"> Data Representation </a>
            <a href="/Admin/Download"> Download </a>
          </div>
        </li>
        {% endif %}
        {% if session['username'] %}
        <li><a id="logout" onclick="logout()"> Logout </a></li>
        <li id="loginName"><a>Logged in as {{ session['username'] }} </a></li>
        {% endif %}
      </ul>
    </nav>
    <main class = "main-container">
      {% block main %}

      {% endblock %}
    </main>

    {% block footer %}
    <footer class = "footer-container"> <!-- Needs looking at -->
      <ul class="footer">
        <li><a id="footer" class = "footer-item" href="http://www.wru.co.uk/eng/home.php"> Visit WRU </a></li>
        <li><a id="footer2" class = "footer-item">©2017</a></li>
      </ul>
    </footer>
    {% endblock %}
    <script>
      if('serviceWorker' in navigator)
      {
        navigator.serviceWorker.register('/SW').then(function(registration)
        {
          console.log("Service Worker Registered");
        }).catch(function(error)
        {
          console.error("Service Worker failed to register");
        });
      }
      else console.log('Service worker not supported.');
    </script>
  </body>
</html>
