<!DOCTYPE html>
{% extends 'base.html' %}
{% block head %}
{{ super() }}
<script type="text/javascript" src="../static/js/formhandling.js"></script>
{%endblock%}

{% block header %}
<div class = "banner">WRU Event form</div>
{%endblock%}

{% block main%}
<section class = "main-item">
  <!-- <form id="eventForm" action="#" onsubmit="filloutForm()" method="post"> -->
  <div class="eveform">
    <form id="eventForm" onsubmit="return validateEventForm()">
      <h2> What's happening at your event? </h2>

      <h3> Venue information: </h3>
      <div>Event date:</div>
      <input type="date" name="eventDate" required>
      <br>
      <div>Location postcode:</div>
      <!--http://html5pattern.com/Postal_Codes(Retrieved 17/11/17)-->
      <input type="text" name="postcode" pattern = "[A-Za-z]{1,2}[0-9Rr][0-9A-Za-z]? [0-9][ABD-HJLNP-UW-Zabd-hjlnp-uw-z]{2}"required>
      <div>Select the event region:</div>
      <select value="region" name="eventRegion">
        <option value="Scarlets">Scarlets</option>
        <option value="Ospreys">Ospreys</option>
        <option value="Blues">Blues</option>
        <option value="Dragons">Dragons</option>
        <option value="RGC">RGC</option>
        <option value="AllWales">All Wales</option>
        <option value="Other">Other</option>
        <input type='text'>
      </select>
      <br>
      <div>Event name:</div>
      <input type="text" name="eventName">
      <br>
      <h3> Event information </h3>
      <div>Event inclusivity</div>
      <select value="inclusivity" name="inclusivity">
        <option value="N/A">Not applicable</option>
        <option value="BME">BME</option>
        <option value="Disability">Disability</option>
        <option value="Deprivation">Deprivation</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
        <input type='text'>
      </select>
      <br>
      <div>Activity type</div>
      <div class="italics">Select all that apply</div>
      <section value="activity" name="activityType">
        <input type="checkbox" value="hubActivity">Hub activity</input><br>
        <input type="checkbox" value="communityFestival">Community festival</input><br>
        <input type="checkbox" value="competition">Competition</input><br>
        <input type="checkbox" value="communityProv">Community provision</input><br>
        <input type="checkbox" value="womenAndGirls">Women and girls cluster</input><br>
        <input type="checkbox" value="regionalRugbyCamps">Regional rugby camps</input><br>
        <input type="checkbox" value="exilesCamps">Exiles camps</input><br>
        <input type="checkbox" value="collaborativeDelivery">Collaborative delivery</input><br>
        <option value="Other">Other</option>
        <input type='text'>
      </section>
      <br>

      <div>Additional information:</div>
      <div class="italics">eg. Sponsor information</div>
      <textarea rows="5" cols="45" id ="comments"></textarea>
      <br>
      <button type="submit" value="submit">Submit</button>
      <br>
      <!-- The form-data will be reset to default values if pressed -->
      <button type="reset">Reset form</button> <!--https://www.w3schools.com/html/tryit.asp?filename=tryhtml_input_reset (Retrieved 17/11/17)-->
    </form>
  </div>
  <span id='txt'></span>
</section>
{%endblock%}
