<!DOCTYPE html>
{% extends 'base.html' %}
{% block head %}
{{ super() }}
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
<!--TODO Move to JS -->
<script>
    function filloutForm(){
        var eventDate = document.forms["eventForm"]["eventDate"].value;
        var postcode = document.forms["eventForm"]["postcode"].value;
        var peopleNum = document.forms["eventForm"]["peopleNum"].value;
        if (eventDate == "") {
          alert("The date of the event must be filled out");
          return false;
        }
        if (postcode == "") {
          alert("The postcode must be filled out");
          return false;
        }
        if (peopleNum == "") {
          alert("The number of people who attended the event must be filled out");
          return false;
        }
    }
</script>
{%endblock%}

{% block header %}
<div class = "banner">WRU Event form</div>
{%endblock%}

{% block main%}
  <form id="eventForm" action="#" onsubmit="filloutForm()" method="post">
    <h2> What's happening at your event? </h2>

    <h3> Venue information: </h3>
    <div>Event date:</div>
    <input type="date" name="eventDate"><br>
    Location postcode:<br>
    <!--http://html5pattern.com/Postal_Codes(Retrieved 17/11/17)-->
    <input type="text" name="postcode" pattern = "[A-Za-z]{1,2}[0-9Rr][0-9A-Za-z]? [0-9][ABD-HJLNP-UW-Zabd-hjlnp-uw-z]{2}"><br>
    <div>Select the event region:</div>
    <select value="region" name="regionSelect">
      <option value="Scarlets">Scarlets</option>
      <option value="Ospreys">Ospreys</option>
      <option value="CardiffBlues">Cardiff Blues</option>
      <option value="Dragons">Dragons</option>
    </select> <br>

    <h3> Population information </h3>
    <div>Number of people in attendance:</div>
    <input type="number" name="peopleNum"><br>
    <div>Number of tournaments</div>
    <input type="number" name="tourNum"><br>

    <h3> Tournament information </h3>
    <div>Age category</div>
    <select value="age" name="ageRange">
      <option value="minis">Minis</option>
      <option value="junior">Junior</option>
      <option value="youth">Youth</option>
      <option value="older">Older</option>
    </select>

    <div>Additional information:</div>
    <textarea rows="5" cols="45" id ="comments"></textarea>
    <br>
    <br>
    <button type="submit" value="submit" >Submit form</button><br><br>
    <!-- The form-data will be reset to default values if pressed -->
    <button type="reset">Reset form</button> <!--https://www.w3schools.com/html/tryit.asp?filename=tryhtml_input_reset (Retrieved 17/11/17)-->
  </form>
{%endblock%}

{% block footer %}
{%endblock%}
