<!DOCTYPE html>
{% extends 'base.html' %}
{% block head %}
{{ super() }}
<script type="text/javascript" src="../static/js/formhandling.js"></script>
{%endblock%}

{% block header %}
<div class = "banner">WRU Event form</div>
{%endblock%}

{% block main%}
<section class = "main-item">
  <!-- <form id="eventForm" action="#" onsubmit="filloutForm()" method="post"> -->
  <div class="eveform">
    <form id="eventForm" onsubmit="return validateEventForm()">
      <h2> What's happening at your event? </h2>

      <h3> Venue information: </h3>
      <div>Event date:</div>
      <input type="date" name="eventDate" required>
      <br>
      <div>Location postcode:</div>
      <!--http://html5pattern.com/Postal_Codes(Retrieved 17/11/17)-->
      <!-- <input type="text" name="postcode" pattern = "[A-Za-z]{1,2}[0-9Rr][0-9A-Za-z]? [0-9][ABD-HJLNP-UW-Zabd-hjlnp-uw-z]{2}" required> -->
      <input type="text" name="postcode" required>
      <div>Select the event region:</div>
      <select value="region" name="eventRegion">
        <option value="Scarlets">Scarlets</option>
        <option value="Ospreys">Ospreys</option>
        <option value="CardiffBlues">Cardiff Blues</option>
        <option value="Dragons">Dragons</option>
      </select>
      <br>

      <div>Additional information:</div>
      <textarea rows="5" cols="45" id ="comments"></textarea>
      <br>
      <button type="submit" value="submit">Submit</button>
      <br>
      <!-- The form-data will be reset to default values if pressed -->
      <button type="reset">Reset form</button> <!--https://www.w3schools.com/html/tryit.asp?filename=tryhtml_input_reset (Retrieved 17/11/17)-->
    </form>
  </div>
  <span id='txt'></span>
</section>
{%endblock%}
