{% extends 'base.html' %}
{% block head %}
{{ super() }}
<script type="text/javascript" src="../static/js/formhandling.js"></script>
{%endblock%}

{% block header %}
<div class = "banner">Staff Login</div>
{%endblock%}

{% block main %}
<section class = "main-item">
  <form id='login' onsubmit="return validateLoginForm()">
    <h1> Staff Log in </h1>
    <b>Staff Username:</b>
    <input type="text" placeholder="Enter your username here" name="username" required>
    <br>
    <b>Staff Password:</b>
    <input type="password" placeholder="Enter your password here" name="password" required>
    <button type = "submit"> Login </button>
  </form>
</section>
{% endblock %}
