<!DOCTYPE html>
{% extends 'base.html' %}

{% block header %}
<div class = "banner">WRU Tournament form</div>
{%endblock%}

{% block main%}
  <form id="eventForm" action="#" onsubmit="filloutForm()" method="post">
    <h2> Tournament information form </h2>

    <h3> Tournament information </h3>
    <div>Age category</div>
    <select value="age" name="ageRange">
      <option value="minis">Minis</option>
      <option value="junior">Junior</option>
      <option value="youth">Youth</option>
      <option value="older">Older</option>
    </select>
    <br>

    <label for="genderRatio">Gender ratio</label>
    <input type="range" min="0" max="100" value="50" id="=genderRatio"
    step="10" list="GenderRatioSLider">
    <datalist id="volsettings">
	     <option>0</option>
       <option>0/100</option>
	     <option>10/90</option>
	     <option>20/80</option>
	     <option>30/70</option>
	     <option>40/60</option>
	     <option>50/50</option>
       <option>60/40</option>
       <option>70/30</option>
       <option>80/20</option>
       <option>90/10</option>
       <option>100/0</option>
    </datalist>
    <br>

    <button type="submit" value="submit" >Submit form</button><br><br>
    <!-- The form-data will be reset to default values if pressed -->
    <button type="reset">Reset form</button> <!--https://www.w3schools.com/html/tryit.asp?filename=tryhtml_input_reset (Retrieved 17/11/17)-->
  </form>
{%endblock%}
