<!DOCTYPE html>
{% extends 'base.html' %}

{% block header %}
<div class = "banner">WRU Tournament form</div>

<!--TODO move to js -->
<script>
  function outputUpdate(ratio){
    document.querySelector('#ratio').value = ratio;
  }
</script>

{%endblock%}

{% block main%}
  <form id="eventForm" action="#" onsubmit="filloutForm()" method="post">
    <h2> Tournament information form </h2>

    <h3> Tournament information </h3>
    <div>Age category</div>
    <select value="age" name="ageRange">
      <option value="minis">Minis</option>
      <option value="junior">Junior</option>
      <option value="youth">Youth</option>
      <option value="older">Older</option>
    </select>
    <br>

    <label for="genderRatio">Gender ratio</label>
    <br><br>
    <input type="range" min="0" max="100" value="50" id="genderRatio"
    step="10" list="tickmarks" oninput="outputUpdate(value)">
    <output for="genderRatio" id="ratio">50/50</output>
    <datalist id="tickmarks">
       <option value="0" label="0/100">
       <option value="10" label="90/10">
       <option value="20" label="20/80">
       <option value="30" label="30/70">
       <option value="40" label="40/60">
       <option value="50" label="50/50">
       <option value="60" label="60/40">
       <option value="70" label="70/30">
       <option value="80" label="80/20">
       <option value="90" label="90/10">
       <option value="100" label="100/0">
    </datalist>
    <br>

    <button type="submit" value="submit" >Submit form</button><br><br>
    <!-- The form-data will be reset to default values if pressed -->
    <button type="reset">Reset form</button> <!--https://www.w3schools.com/html/tryit.asp?filename=tryhtml_input_reset (Retrieved 17/11/17)-->
  </form>
{%endblock%}
